@font-face {
  font-family: "Podcast";
  src: url("/src/assets/font/Podcast.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

